{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-less"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "true"
      }
    ]
  ]
}

